title: 「從聖經看屬靈生命」 
email: peixian@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
    帮助屬靈生命成长的兩年讀經計劃。所有材料均由【西雅圖證道堂】東區國語堂提供。 
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://bibleplan.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username: bibleplan

# Build settings
markdown: kramdown
theme: jekyll-theme-cayman
plugins:
  - jekyll-feed
timezone: America/Chicago    

# Google Analytics
#google_analytics: UA—114680216-1

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
