---

layout: post
title: {{ site.name }}

---

<h2>所有文章</h2>

{% assign weeklyPosts = site.posts | where: "categories", "weekly" | sort: "date" %}
{% assign dailyPosts = site.posts | where: "categories", "daily" %}
{% assign sharingPosts = site.posts | where: "categories", "sharing" %}

<ul>
{% for post in weeklyPosts %}

  {% assign weekNum = post.weekNum %}
  {% assign thisWeek = dailyPosts | where: "weekNum", weekNum | sort: "date" %}
  
  {% if thisWeek.size > 0 %}
  
  <details>
    <summary><li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li></summary>
    <ul>
        {% assign weekNum = post.weekNum %}
        {% assign thisWeek = dailyPosts | where: "weekNum", weekNum | sort: "date" %}
        {% for dailyPost in thisWeek %}
          <li><a href="{{ site.baseurl }}{{ dailyPost.url }}">{{ dailyPost.title }}</a></li>
        {% endfor %}
      </ul>
  </details>
  
  {% else %}
  
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li> 
  {% endif %}
  
{% endfor %}
</ul>
