---

layout: post
title: {{ site.name }}

---

<a href="/">返回主页</a>

<h2>所有文章</h2>

{% assign weeklyPosts = site.posts | where: "categories", "weekly" | sort: "date" %}
{% assign dailyPosts = site.posts | where: "categories", "daily" %}
{% assign sharingPosts = site.posts | where: "categories", "sharing" %}


{% for post in weeklyPosts %}

  {% assign weekNum = post.weekNum %}
  {% assign thisWeek = dailyPosts | where: "weekNum", weekNum | sort: "date" %}
  
  {% if thisWeek.size > 0 %}
<details><summary>  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></summary>    
    <ul>
        {% assign weekNum = post.weekNum %}
        {% assign thisWeek = dailyPosts | where: "weekNum", weekNum | sort: "date" %}
        {% for dailyPost in thisWeek %}
          <li><a href="{{ site.baseurl }}{{ dailyPost.url }}">{{ dailyPost.title }}</a></li>
          <table>
            <tr><td><a href="{{ site.baseurl }}{{ dailyPost.url }}">{{ dailyPost.title }}</a></td></tr>
            <tr>
              <td>{{ dailyPost.bibleTitle1 }}</td>
              <td>{{ dailyPost.bibleTitle2 }}</td>
            </tr>
          </table>
        {% endfor %}
      </ul>
  </details>
  
  {% else %}
  
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li> 
  {% endif %}
  
{% endfor %}
