---

layout: default

title: {{ site.name }}

---

|快速跳到|[《上一日]({{page.pre}})|[本周](page.weekly)|[下一日》](page.next)|

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>

{{ content }}

{% assign pageDate = page.date | '%Y-%m-%d' %}
{% assign sharings = site.posts | where: "categories", "sharing" %}

<strong>读经分享：</strong>
<ul>
{% for post in sharings %}
  {% if post.date == pageDate %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
