---
layout: post
title: {{ site.name }}
---

{% if page.dayNum == 1 %}
  {% assign prevWeekNum = page.weekNum | minus:"1" %}
  {% assign prevDayNum = 7 %}
  {% assign nextWeekNum = page.weekNum %}
  {% assign nextDayNum = page.dayNum | plus:"1" %}
{% elsif page.dayNum == 7 %}
  {% assign nextWeekNum = page.weekNum | plus:"1" %}
  {% assign nextDayNum = 1 %}
  {% assign prevWeekNum = page.weekNum %}
  {% assign prevDayNum = page.dayNum | minus:"1" %}
{% else %}
  {% assign prevWeekNum = page.weekNum %}
  {% assign prevDayNum = page.dayNum | minus:"1" %}
  {% assign nextWeekNum = page.weekNum %}
  {% assign nextDayNum = page.dayNum | plus:"1" %}
{% endif %}

{% assign prevDay = "/daily/wk" | append:prevWeekNum | append:"-day" | append:prevDayNum | append:"-daily.html" %}
{% assign nextDay = "/daily/wk" | append:nextWeekNum | append:"-day" | append:nextDayNum | append:"-daily.html" %}
{% assign weekly = "/guide/wk" | append:page.weekNum | append:".html" %}

<table>
  <thead>
  <tr>
    <th><a href="{{ prevDay }}">《上一日</a></th>
    <th><a href="{{ weekly }}">本周</a></th>
    <th><a href="{{ nextDay }}">下一日》</a></th>
  </tr>
  </thead>
</table>

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>

{{ content }}

{% assign pageDate = page.date | '%Y-%m-%d' %}
{% assign sharings = site.posts | where: "categories", "sharing" %}
<ul>
{% for post in sharings %}
  {% if post.date == pageDate %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<table>
  <thead>
    <tr>
      <th><a href="{{ prevDay }}">《上一日</a></th>
      <th><a href="{{ weekly }}">本周</a></th>
      <th><a href="{{ nextDay }}">下一日》</a></th>
    </tr>
  </thead>
</table>
