---

layout: post

title: {{ site.name }}

---
<table>
  <thead>
  <tr>
    <th><a href="{{ page.prevDay }}">《上一日</a></th>
    <th><a href="{{ page.weekly }}">本周</a></th>
    <th><a href="{{ page.nextDay }}">下一日》</a></th>
  </tr>
  </thead>
</table>

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>
{% assign nextDate = page.date | plus:"1" %}

{{ content }}

<table>
  <thead>
  <tr>
    <th><a href="{{ page.prevDay }}">《上一日</a></th>
    <th><a href="{{ page.weekly }}">本周</a></th>
    <th><a href="{{ page.nextDay }}">下一日》</a></th>
  </tr>
  </thead>
</table>
