---
layout: post
title: {{ site.name }}
---

{% if page.dayNum == 1 %}
  {% assign prevWeekNum = page.weekNum | minus:"1" %}
  {% assign prevDayNum = 7 %}
  {% assign nextWeekNum = page.weekNum %}
  {% assign nextDayNum = page.dayNum | plus:"1" %}
{% elsif page.dayNum == 7 %}
  {% assign nextWeekNum = page.weekNum | plus:"1" %}
  {% assign nextDayNum = 1 %}
  {% assign prevWeekNum = page.weekNum %}
  {% assign prevDayNum = page.dayNum | minus:"1" %}
{% else %}
  {% assign prevWeekNum = page.weekNum %}
  {% assign prevDayNum = page.dayNum | minus:"1" %}
  {% assign nextWeekNum = page.weekNum %}
  {% assign nextDayNum = page.dayNum | plus:"1" %}
{% endif %}

{% assign prevDay = "/daily/wk" | append:prevWeekNum | append:"-day" | append:prevDayNum | append:"-daily.html" %}
{% assign nextDay = "/daily/wk" | append:nextWeekNum | append:"-day" | append:nextDayNum | append:"-daily.html" %}
{% assign weekly = "/guide/wk" | append:page.weekNum | append:".html" %}

<table>
  <thead>
  <tr>
    <th><a href="{{ prevDay }}">《上一日</a></th>
    <th><a href="{{ weekly }}">本周</a></th>
    <th><a href="{{ nextDay }}">下一日》</a></th>
  </tr>
  </thead>
</table>

<h2>第 {{ page.weekNum }} 週 第 {{ page.dayNum }} 天 {{ page.title }}</h2>
<p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>

{% assign verse1 = page.bibleTitle1 %}
{% assign bgV1 = page.bibleGatewayRef1 %}
{% assign yvV1 = page.youVersionRef1 %}
{% assign verse2 = page.bibleTitle2 %}
{% assign bgV2 = page.bibleGatewayRef2 %}
{% assign yvV2 = page.youVersionRef2 %}

{% assign bgLink1 = "https://www.biblegateway.com/passage/?search=" | append:bgV1 | append: "&version=CUVMPT" %}
{% assign bgLink2 = "https://www.biblegateway.com/passage/?search=" | append:bgV1 | append: "&version=CUVMPS" %}
{% assign bgLink3 = "https://www.biblegateway.com/passage/?search=" | append:bgV1 | append: "&version=NIV" %}
{% assign yvLink1 = "https://www.bible.com/zh-TW/bible/46/" | append:yvV1 | append: ".CUNP" %}

{% assign bgLink4 = "https://www.biblegateway.com/passage/?search=" | append:bgV2 | append: "&version=CUVMPT" %}
{% assign bgLink5 = "https://www.biblegateway.com/passage/?search=" | append:bgV2 | append: "&version=CUVMPS" %}
{% assign bgLink6 = "https://www.biblegateway.com/passage/?search=" | append:bgV2 | append: "&version=NIV" %}
{% assign yvLink2 = "https://www.bible.com/zh-TW/bible/46/" | append:yvV2 | append: ".CUNP" %}

[bgLink1]: {{ bgLink1 }}
[bgLink2]: {{ bgLink2 }}
[bgLink3]: {{ bgLink3 }}
[bgLink4]: {{ bgLink4 }}
[bgLink5]: {{ bgLink5 }}
[bgLink6]: {{ bgLink6 }}
[yvLink1]: {{ yvLink1 }}
[yvLink2]: {{ yvLink2 }}

{{ content }}

{% assign pageDate = page.date | '%Y-%m-%d' %}
{% assign sharings = site.posts | where: "categories", "sharing" %}
<ul>
{% for post in sharings %}
  {% if post.date == pageDate %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<table>
  <thead>
    <tr>
      <th><a href="{{ page.prevDay }}">《上一日</a></th>
      <th><a href="{{ page.weekly }}">本周</a></th>
      <th><a href="{{ page.nextDay }}">下一日》</a></th>
    </tr>
  </thead>
</table>
