---

layout: default

title: {{ site.name }}

---



<div id="home">

  <table>
    <tr>
      <td style="display: inline-block; border: none; vertical-align: top; padding: 15px">
  <h1>文章链接</h1>

  <ul class="posts">
    
    {% assign today = site.time | date: '%Y-%m-%d'  %}
    {% for post in site.posts %}
        <li><span>{{ post.date | date: '%b %d, %Y' }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        
        {{ today }} == {{ post.date | date: '%Y-%m-%d' }}
        {% if today == post.date | date: '%Y-%m-%d' %}
          ##Found it##
          {% assign todayContent = post.content %}
          {{ todayContent }}
        {% endif %}
    
        
    {% endfor %}

  </ul>
      </td>
      <td style="display: inline-block; border: none; vertical-align: top; padding: 15px">
        <h1>今日导读</h1>
        {{ site.time | date: '%b %d, %Y' }}
        {{ todayContent }}
      </td>
    </tr>
  </table>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
