---
layout: default
title: {{ site.name }}
---

{% if page.language == "English" %}
{% assign chUrl = page.permalink | replace_first: "/en/", "/" %}
<div id="language" align="right">
<a href={{ chUrl }}>中文<a> | English
<div id="language" align="right">
{% else %}
<div id="language" align="right">
  中文 | <a href="{{ '/en' | append: page.permalink }}">English</a>
</div>

{% endif %}

{{ content }}

<p></p>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114680216-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114680216-1');
</script>
