---
layout: default
title: {{ site.name }}
---

{% if page.language == "English" %}

{% assign chUrl = page.url | replace_first: "/en/", "/" %}
<div id="language" align="right">
  <a href="{{ chUrl }}">中文</a> | English
</div>

{% else %}

<div id="language" align="right">
  {% if page.permalink %}
    enUrl={{ '/en' | append: page.permalink }}
  {% else %}
    {% assign enRootUrl = site.url | append: "en/" %}
    {% assign enUrl = page.url | replace_first: site.url, enRootUrl %}
  {% endif %}
  
  {% assign enPage = site.pages | where: "page", "page.url == enUrl" %}
  {% if enPage %}
  中文 | <a href="{{ enUrl }}">English</a>
  {% else %}
  中文 | English
  {% endif %}
</div>

{% endif %}

{{ content }}

<p></p>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114680216-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114680216-1');
</script>
