---
layout: default
title: {{ site.name }}
---

{% if page.language == "English" %}

{% assign chUrl = page.url | replace_first: "/en/", "/" %}
<div id="language" align="right">
  <a href="{{ chUrl }}">中文</a> | English
</div>

{% else %}

<div id="language" align="right">
  {% if page.permalink %}
    {% assign enUrl= '/en' | append: page.permalink %}
  {% else %}
    {% assign enUrl = page.url | prepend: "/en" %}
  {% endif %}

  {% assign enPage = site.pages | where_exp: "item", "item.url == enUrl" %}
  {{ enPage.url }}
  {% if enPage.size > -1 %}
    中文 | <a href="{{ enUrl }}">English</a>
  {% else %}
    中文 | English
  {% endif %}
</div>

{% endif %}

  {{ page.url }} - {{ enUrl }}
{{ content }}

<p></p>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114680216-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114680216-1');
</script>
