---
layout: post
title: {{ site.name }}
---

{% assign posts = site.posts | where: "weekNum", page.weekNum %}
{% assign posts2 = posts | where: "dayNum", page.dayNum %}
{% assign dailyPage = posts2 | where: "categories", "daily" | first %} 
{% assign bgLink = "https://www.biblegateway.com/passage/?search=" %}

<h3><a href={{ dailyPage.url }}>{{ dailyPage.title }}</a></h3>
<a href='{{ bgLink | append:dailyPage.bibleGatewayRef1 | append: "&version=CUVMPT" }}'>
   <code><strong>{{ dailyPage.bibleTitle1 }}</strong></code></a>  
<a href='{{ bgLink | append:dailyPage.bibleGatewayRef2 | append: "&version=CUVMPT" }}'>
   <code><strong>{{ dailyPage.bibleTitle2 }}</strong></code></a>

<h3>{{ page.title }}</h3>

{{ page.content }}
