---
layout: default
title: {{ site.name }}
---

<div id="top"></div>
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>

{% assign lastWeek = page.weekNum | minus:"1" %}
{% assign nextWeek = page.weekNum | plus:"1" %}
{% assign lastLink = "wk" | append:lastWeek | append:".html" %}
{% assign nextLink = "wk" | append:nextWeek | append:".html" %}
{% assign filter = "/guide/wk" | append:page.weekNum | append:".html" %}

<table>
  <thead>
  <tr>
    <th><a href="{{ lastLink }}">《上週</a></th>
    <th><a href="/">主页</a></th>
    <th><a href="{{ nextLink }}">下週》</a></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#day1">第1天</a></td>
      <td><a href="#day2">第2天</a></td>
      <td><a href="#day3">第3天</a></td>
      <td><a href="#day4">第4天</a></td>
    </tr>
    <tr>
      <td><a href="#day5">第5天</a></td>
      <td><a href="#day6">第6天</a></td>
      <td><a href="#day7">第7天</a></td>
      <td></td>
    </tr>
  </tbody>
</table>
<hr>

{% assign thisWeek = site.posts | where: "weekly", filter | sort: "date" %}


{% assign day = 1 %}
{% for onePage in thisWeek %}
  {% if day == 1 %}
    {% assign link = '[&#8679;](#top) [&#8681;](#day2)' %}    
  {% elsif day == 7 %}
    {% assign link = '[&#8679;](#day6) [&#8686;](#top)' %}
  {% else %}
    {% assign dayMinus = day | minus:'1' %}
    {% assign dayMinus = '[&#8679;](#day' | append:dayMinus | append:') ' %}
    {% assign dayPlus = day | plus:'1' %}
    {% assign dayPlus = '[&#8681;](#day' | append:dayPlus | append:')' %}
    {% assign link = dayMinus | append: dayPlus %}    
  {% endif %}
  
<div id='{{ 'day' | append: day }}'></div>
<h2> 
  {{ onePage.title | link_to: onePage.permalink }} {{ link }}
</h2>

{{ onePage.content }}
<hr>

  {% assign day = day | plus:'1' %}
{% endfor %}

