---
layout: post
title: {{ site.name }}
language: Chinese
---
<div id="top"></div>

{% assign lastWeek = page.weekNum | minus:"1" %}
{% assign nextWeek = page.weekNum | plus:"1" %}
{% assign lastLink = "wk" | append:lastWeek | append:".html#top" %}
{% assign nextLink = "wk" | append:nextWeek | append:".html#top" %}
{% assign filter = page.weekNum %}
{% assign enUrl = "/en" | append: page.permalink %}

<p>
<table>
  <thead>
  <tr>
    <th><a href="{{ lastLink }}">《上週</a></th>
    <th colspan=2><a href="/">主頁</a></th>
    <th><a href="{{ nextLink }}">下週》</a></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="#day1">第1天</a></td>
      <td><a href="#day2">第2天</a></td>
      <td><a href="#day3">第3天</a></td>
      <td><a href="#day4">第4天</a></td>
    </tr>
    <tr>
      <td><a href="#day5">第5天</a></td>
      <td><a href="#day6">第6天</a></td>
      <td><a href="#day7">第7天</a></td>
      <td></td>
    </tr>
  </tbody>
</table>
<hr>

<div class="box"><h2>{{ page.title }}</h2></div>
<p>{{ page.date | date: '%B %d, %Y' }}</p>

{{ content }}
<hr>

{% assign thisWeek = site.posts | where: "weekNum", filter | sort: "date" %}
{% assign thisWeek = thisWeek | where: "categories", "daily" | sort: "date" %}
{% assign thisWeek = thisWeek | where_exp: "item", "item.language != 'English'" %}


{% assign day = 1 %}
{% for onePage in thisWeek %}
  {% if day == 1 %}
    {% assign link = '<a href="#top">&#8679;</a> <a href="#day2">&#8681;</a>' %}    
  {% elsif day == 7 %}
    {% assign link = '<a href="#day6">&#8679;</a> <a href="#top">&#8686;</a>' %}
  {% else %}
    {% assign dayMinus = day | minus:'1' %}
    {% assign dayMinus = '<a href="#day' | append:dayMinus | append:'">&#8679;</a>' %}
    {% assign dayPlus = day | plus:'1' %}
    {% assign dayPlus = ' <a href="#day' | append:dayPlus | append:'">&#8681;</a>' %}
    {% assign link = dayMinus | append: dayPlus %}    
  {% endif %}
  
<div id='{{ 'day' | append: day }}'></div>
<h2> 
  <a href="{{ onePage.url }}">{{ onePage.title }}</a> {{ link }}
</h2>

{{ onePage.content }}

{% assign pageDate = onePage.date | '%Y-%m-%d' %}
{% assign sharings = site.posts | where: "categories", "sharing" %}

<ul>
{% for post in sharings %}
  {% if post.date == pageDate %}
  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>

<hr>

  {% assign day = day | plus:'1' %}
{% endfor %}
